$background: #EFEFF2;
$square-size: 90px;
$font-size: 18px;

body {
  font: $font-size "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: $background;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: $background;
  border: 1px solid #888;
  float: left;
  font: {
	  size: 72px;
	  weight: bold;
  }
  margin: {
	  right: -1px;
	  top: -1px;
  }
  line-height: $square-size;
  height: $square-size;
  padding: 0;
  text-align: center;
  width: $square-size;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.game-info span {
	cursor: pointer;
}

.game-info span:hover {
	text-decoration: underline;
}

.game-header {
	font-size: 42px;
	text-align: center;
	padding-bottom: 4%;
}

.game-header-middle {
	color: #416FF0;
}

.history-selected {
  font-weight: bolder;
}

.winning-square {
	color: #ad290b;
}
